.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: white;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: black;

}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
  color: black;
}

#reset {
  visibility: visible;
}

body {
  background-color: pink;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  height: 500px;
  background-image: url("../images/lights.jpeg");
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  width: 60%;
  text-align: center;
}

.btn {
  background-color: black;
  color:white;
  border: transparent;
  position: relative;
  bottom: -150px;
  border-radius: 50%;
}
.btn:hover{
  background-color: pink;

}